name: Go
run-name: ${{ github.actor }} IS WATCHING...
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21.x'

    - name: Install dependencies
      run: |
        echo "Intalling dependencies..."
        go mod tidy

    - name: Test
      run: |
        echo "Running test..."
        go test -v ./...
